{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/knitting-image.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div>
          <p>WE craft individually knitted items that are for just fun or</p>
          <p>made to measure for the fur heads and human heads alike.</p>
          <p>We keep your privacy in the highest regard so after you place an order,
          the only personal data stored are the emails referencing the order. All other
          details ar destroyed.</p>

          <h6>These are our terms and conditions.</h6>
        </div>

          <img src="static/img/Zimbre.png" >


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}