{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Basket</h1>
            <span class="subheading">Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
     <div class="row justify-content-end">
      <h5>Logged in as {{ current_user.name }}</h5>
     </div>
      <hr><br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Title</th>
            <th scope="col">Time to Make</th>
            <th scope="col">Quantity</th>
            <th scope="col">Each</th>
            <th scope="col">Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="{{ url_for('show_post', post_id=post.id) }}" style="padding: 10px 10px 30px 10px;"><img alt="Card image cap" src="{{ post.img_url }}" style="height: 50px;"></a></td>
            <td>{{ post.title }}</td>
            <td>{{ post.make_days }} days</td>
            <td>2</td>
            <td>£25</td>
            <td>£50</td>
          </tr>
        </tbody>
      </table>
      <div>
        <a href="{{ url_for('get_all_posts') }}" class="btn btn-primary">Continue selecting</a>
      </div>
    </div>

  <hr>

  {% include "footer.html" %}