{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://th.bing.com/th/id/OIP.o3_008QITPKvT7D_oAp8NgHaD2?pid=ImgDet&rs=1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Email order</h1>
            <span class="subheading">You have requested...</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div style="text-align: center;">
      <span>This request will be made to <strong>Knitty-Kitty Creations</strong> for conformation and a request for payment.</span>
      <hr><br>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>{{ user }}</h4>
        <h5>{{ email.email }}</h5>
        <br>
        <div class="row">
          <h5 class="col-sm-3">Item</h5>
          <h5 class="col-sm-3">Description</h5>
          <h5 class="col-sm-4">Customise</h5>
          <h5 class="col-sm-2">Total</h5>
        </div>

        {% for item in basket %}
        <div class="row">
          <img alt="Card image cap" src="{{ item.img_url }}" style="height: 45px;">
          <span class="col-sm-2">{{ item.title }}</span>
          <span class="col-sm-4">{{ item.description }}</span>
          <spam class="col-sm-3">{{ item.col_size }}</spam>
          <span class="col-sm-2">{{ item.price }}</span>
        </div>
        {% endfor %}
        <br>
        <div class="row">
          <span class="col-sm-8">Post and Packaging</span>
          <span class="col-sm-3">{{ pandp }}</span>
        </div>
        <span class="col-sm-5 float-right">Total = {{ total }}</span>
        <p>Your orders will be emailed and payment will be requested</p>
        <p>Once the stock has been fulfilled.</p>
        <p>Sit tight, needles are flying! </p>
      </div>
      <div>
        <span>You should hear back for us within a few days.</span>
        <span>We will contact you for your payment, soon. </span>
        <span>Thank you for requesting an order with Knitty-Kitty Creations</span>
      </div>
    </div>
  </div>

  <hr>
  <a class="btn btn-primary float-right" href="{{ url_for('success') }}">Continue...</a>



{% include "footer.html" %}