{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>{{ user.name }}</h4>
        <h5>{{ user.email }}</h5>
        <p>Your orders will be emailed and payment will be requested</p>
        <p>Once the stock has been fulfilled.</p>
        <p>Sit tight, needles are flying! </p>
      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}