{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/pic05.jpg');">
      <div class="row">
          <a><img class="titletwo" src="static/img/kittyno4.png" alt="title image"></a>
       `    <img src="static/img/backgroundbere1.png" alt="title image">
      </div>

    <div class="overlay"></div>
    <div class="container">
        <div class=" col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Knitty-Kitty</h1>
            <h1>Creations</h1>
            <span class="subheading">Giving <strong>wool</strong> the needle!</span>
            <br>
          </div>
      </div>

    </div>
  </header>


  <!-- Main Content -->

   <div class="container">
          <div class="clearfix">
              {% if current_user.id == 1: %}
               <a class="btn btn-primary float-left" href="{{url_for('stock_n_orders')}}">Stock & Orders</a>
                <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Add new Item</a>
              {% elif not current_user.is_authenticated: %}
                <span class="center col-md-2">
                <a class="btn btn-outline-primary center" href="{{ url_for('register') }}">Who are you?</a>
                </span>
              {% endif %}
          </div>

          <br>

          <div class="container-fluid row col-lg-12" id="show-me">

            {% for post in all_posts %}
              <div class="card" style="width:400px;float:left;padding:20px;">
                 <div class="card-body" style="background-color:lightcyan;">
                     <a class="card-img-top" href="{{ url_for('show_post', post_id=post.id) }}"><img style="width: 300px;" src="{{ post.img_url }}" alt="Card image cap"></a>

                     <h4 class="card-title">{{ post.title }}
                        {% if current_user.id == 1: %}
                        <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                        {% endif %}
                      </h4>
                     <h6 class="card-text">{{ post.description }}</h6>
                     <h3>{{post.price}}</h3>
                     <h5>
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('register') }}">Open an Order</a>
                        {% endif %}
                     </h5>
                        <hr>
                        {% if post.stock_quantity > 0 %}
                        <a href="{{ url_for('basket', post_id=post.id) }}" class="card-footer btn btn-primary">Select</a>
                        {% endif %}
                 </div>
              </div>

            {% endfor %}
          </div>

   </div>
  <hr>



{% include "footer.html" %}