{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Stock and Orders</h1>
            <span class="subheading">Checking stock quantities and orders.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div>
      {% for item in items %}
      <h5><img alt="Card image cap" src="{{ item.img_url }}" style="height: 50px;"> - {{ item.title }} - {{ item.price }} - {{ item.stock_quantity }} - {{ item.description }} - {{ item.make_days }}</h5>
      {% endfor %}
    </div>
    <br><hr><br>
    <div>
      {% for ord in orders %}
      <h5>{{ ord.date }} - {{ ord.email }} - {{ ord.title }} - {{ ord.total }} - {{ ord.made }} - {{ ord.sent }} - {{ ord.paid }}</h5>
      {% endfor %}
    </div>
  </div>

  <hr>

{% include "footer.html" %}