{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Stock and Orders</h1>
            <span class="subheading">Checking stock quantities and orders.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Time to Make</th>
          </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          <td><img alt="Card image cap" src="{{ item.img_url }}" style="height: 50px;"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.price }}</td>
          <td> {{ item.stock_quantity }} </td>
          <td>{{ item.description }} </td>
          <td>{{ item.make_days }}</td>

        </tr>
      {% endfor %}
      </tbody>
     </table>


    <br><hr><br>

      <form action="/update" method="POST" >
    <table class="table table-bordered" id="tableId" border=1>
      <thead>
        <tr>
            <th>Order</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Email</th>
            <th scope="col">Total Price</th>

            <th scope="col">Remove</th>
          </tr>
      </thead>
      <tbody>
        {% for ord in orders %}
        <tr>
          <td>{{ ord.id }}</td>
          <td>{{ ord.date }}</td>
          <td>{{ ord.email }}</td>
          <td>{{ ord.total }}</td>
          <td class="btn btn-danger"><a href="{{ url_for('delete_row', row=ord.id) }}">X</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </form>
  </div>

  <hr>

{% include "footer.html" %}